[submodule "roles/ansible-role-docker-php"]
	path = roles/ansible-role-docker-php
	url = https://github.com/aadl/ansible-role-docker-php.git
[submodule "roles/ansible-role-nodejs"]
	path = roles/ansible-role-nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git
[submodule "roles/ansible-role-mysql"]
	path = roles/ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
